@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<div>
    Hello Rybnik!
    <h1>Co jest?</h1>
    <h7>hahahaha dziala cos nareszcie!</h7>
</div>
